<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=">
<body>
<div>
    <h1>Для активации перейдите нажмите на слово ниже</h1>
    <br>
    <a href="{{activateLink}}">АКТИВИРОВАТЬ</a>
</div>
</body>
</html>
