.primary-button {
	@apply bg-accent
    rounded-primary
    border-4
    border-accent
    border-solid
    duration-150;
}

.secondary-button {
	@apply rounded-primary
    border-4
    border-accent
    border-solid
    duration-150;
}

.round-button {
	@apply rounded-full
    bg-secondary
    duration-150;
}

.primary-button:hover {
	@apply bg-opacity-0
    border-4
    border-accent
    border-solid;
}

.secondary-button:hover {
	@apply bg-accent
    border-4
    border-accent
    border-solid;
}

.primary-children {
	padding: max(0.5vh, 5px) max(2vw, 15px);
}

.secondary-children {
	padding: max(0.5vh, 5px) max(2vw, 15px);
}

.round-children {
	padding: max(1vw, 10px) max(1vw, 10px);
}
